@import '~bootstrap/scss/bootstrap';
#admin-layout {
    display: flex;
    
    aside {
      display: flex;
      flex-flow: column;
      gap: 2em;
  
      height: 100%;
  
      min-width: 200px;
  
      padding: 16px;
  
      border-right: 1px solid $secondary;
    }
  
    main {
      flex-grow: 1;
    }
  }